<div class="container">
  <div>
    <!-- logo -->
    <h1>
      商品カート
    </h1>
    <table id="payment_method" class="table-content mat-elevation-z8" border="1">
      <thead>
        <tr>
          <td class="thead-table">ｶｰﾄNo</td>
          <td class="thead-table">商品ｺｰﾄﾞ</td>
          <td class="thead-table">商品名</td>
          <td class="thead-table">価格</td>
          <td class="thead-table">数量</td>
          <td class="thead-table">購入金額</td>
          <td class="thead-table">ｻｲｽﾞ</td>
          <td class="thead-table">色</td>
          <td class="thead-table">ｶｰﾄ登録日時</td>
          <td class="thead-table">更新</td>
          <td class="thead-table">カートから出す</td>
          <td class="thead-table">レジに進む</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of product_carts; let i = index">
          <td>{{product.product_cart_id}}</td>
          <td>{{product.product_id}}</td>
          <td>{{product.product_name}}</td>
          <td>{{product.price | number:'1.2-2'}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.price *  product.quantity | number:'1.2-2'}}</td>
          <td>{{product.size}}</td>
          <td>{{product.color}}</td>
          <td>{{product.cart_regist_dt | date:'yyyy/MM/dd HH:mm'}}</td>
          <td class="blue">
            <button class="link" type="button" (click)="OpenDialogUpdate(product.product_cart_id)">更新</button>
          </td>
          <td class="blue">
            <button class="link" type="button" (click)="OpenDialogDelete(product.product_cart_id)">削除</button>
          </td>
          <td class="blue">
            <button class="link" type="button" (click)="OpenDialogBuy(product)">レジに進む</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <p>{{message}}</p> -->
  </div>
</div>
