<div class="container">


    <div>
      <!-- logo -->
      <h1 style="margin-left: 20%">
        商品購入
      </h1>

      <form class="login-form" role="form" #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="customDiv">
          <span >商品コード</span>
          <mat-form-field>
            <input matInput name="product_id" [(ngModel)]="product_cart_buy.product_id" readonly>
          </mat-form-field>
        </div>
        <div class="customDiv">
          <span >商品名</span>
          <mat-form-field>
            <input matInput id="product_name" name="product_name" [(ngModel)]="product_cart_buy.product_name"  readonly>
          </mat-form-field>
        </div>
        <div class="customDiv">
          <span >価格</span>
          <mat-form-field>
            <input matInput id="price" name="price" [(ngModel)]="product_cart_buy.price"  type="text"
              readonly >
          </mat-form-field>
        </div>
        <div class="customDiv">
          <span >数量</span>
          <mat-form-field>
            <input matInput id="quantity" name="quantity" [(ngModel)]="product_cart_buy.quantity" (keyup)="Total()" required maxlength="11">
          </mat-form-field>
        </div>
        <div class="customDiv">
          <span >購入金額</span>
          <mat-form-field>
            <input matInput id="total" name="total" [(ngModel)]="product_cart_buy.total" readonly >
          </mat-form-field>
        </div>
        <div class="customDiv" >
          <span >サイズ</span>
            <mat-form-field>
              <mat-select [(value)]="product_cart_buy.size">
                <mat-option *ngFor="let item of sizes"  [(value)]="item">{{item}}</mat-option>
            </mat-select>
            </mat-form-field>
        </div>
        <div class="customDiv">
          <span >色</span>

            <mat-form-field>
              <mat-select [(value)]="product_cart_buy.color">
                <mat-option *ngFor="let item of colors"  [(value)]="item">{{item}}</mat-option>
            </mat-select>
            </mat-form-field>
        </div>
        <div class="customRadio" >
          <span >支払方法</span>
          <mat-radio-group class="radio-group" [(ngModel)]="radioPayment" name = "radioPayment">
            <mat-radio-button class="radio-button" [value]="1" checked >銀行振込み</mat-radio-button><br>
            <mat-radio-button class="radio-button" [value]="2" style="margin-top: 10px !important">商品代引き</mat-radio-button><br>
            <mat-radio-button class="radio-button" [value]="3">クレジットカード</mat-radio-button>
            <mat-form-field style="width: 20% !important; display: inline-block;margin-left: 10px">
                <mat-select [(value)]="product_cart_buy.payment">
                    <mat-option *ngFor="let item of payments"  [(value)]="item.primaryKey.paymentNo">{{item.paymentMethod}}</mat-option>
                </mat-select>
            </mat-form-field><br>
          </mat-radio-group>
        </div>
        <div class="customButton">
            (<button class="link"  type="button" (click)="openDialogAddPayment()" >クレジットカード情報を追加する</button>/<button class="link" type="button" (click)="openDialogUpdatePayment()" >クレジットカード情報を変更する</button>)
        </div>
        <div class="customRadio">
            <span >お届け先</span>
            <mat-radio-group class="radio-group" [(ngModel)]="radioShipping" name = "radioShipping">
              <mat-radio-button class="radio-button" [value]="1" checked >現住所</mat-radio-button>
              <mat-form-field style="margin-left: 10px;width: 50% !important">
                  <input matInput id="address" name="address"  readonly [(ngModel)]="product_cart_buy.address" >
                </mat-form-field> <br>
              <mat-radio-button class="radio-button" [value]="2">別のお届け先</mat-radio-button>
              <mat-form-field style="width: 50% !important; display: inline-block;margin-left: 10px">
                  <mat-select [(value)]="product_cart_buy.shipping">
                      <mat-option *ngFor="let item of shippingAddress" [id]="item.primaryKey.userId + item.primaryKey.shippingAddressNo"  [(value)]="item.primaryKey.shippingAddressNo">{{item.address1}} &nbsp;&nbsp; {{item.address2}}</mat-option>
                  </mat-select>
              </mat-form-field><br>
            </mat-radio-group>
          </div>
          <div class="customButton">
              (<button class="link"  type="button" (click)="openDialogAddShipping()" >お届け先情報を追加する</button>/<button class="link" type="button" (click)="openDialogUpdateShipping()">お届け先情報を変更する</button>)
          </div>
        <div style="padding-top:25px;">
          <p class="messageError" *ngIf="message">{{ message }}</p>
          <button mat-button type="submit" class="btn btn-login" >注文する</button>
          <button mat-button type="button" class="btn btn-cancel" (click)="Cancel()">キャンセル</button>
        </div>

      </form>

    </div>



</div>

