$menu-height: 45px;

.nav-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  overflow-x: hidden !important;
  .nav-sidenav {
    display: flex;
    width: 240px;
    // background: #00C853;
    position: fixed;
    top: 0px;
    bottom: 0px;

    mat-nav-list {
      width: 100%;

      a {
        padding-left: 8px;

        &.active {
          background-color: #ddd;
        }

        span {
          padding-left: 12px;
        }
      }

      .sub-menu-item {
        min-width: 150px;

        &.active {
          background-color: #ddd;
        }

        a {
          color: black;
        }
      }
    }
  }

  .nav-content {
    height: 100vh;
    width: 100vw;
    user-select: text;
    //background-color: #ddd;
    overflow-x: hidden !important;
    .header {
      width: 100vw;
      overflow-y: hidden;
      .row-1 {
        height: 95px;

        #title {
          flex: 1 1 auto;
          align-self: center;
          text-align: center;
        }

        .icon-cover {
          align-self: center;
        }
      }
    }
  }
}

.footer {
  height: 50px;
  line-height: 40px;
  font-size: 12px;
  justify-content: center;
  text-align: center;
  //background-color: #ddd;
  position: relative;
  bottom: 0;
  width: 100vw;
}

@media screen and (max-width: 599px) {
  // Tren dien thoai, tru them 56px vi thanh dia chi tren trinh duyet che mat man hinh ~56px
  .app-content {
    height: calc(100vh - 96px - 56px);
    padding: 16px;
    width: 98vw;
    overflow: auto;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  // Tren dien thoai xoay ngang thi tru them 4px de table ko bi dinh vao footer
  .app-content {
    height: calc(100vh - 116px);
    padding: 18px;
    width: 95vw;
    overflow: auto;
  }
}

@media screen and (min-width: 960px) {
  .app-content {
    padding: 18px;
    height: calc(100vh - 116px);
    width: 98vw;
    overflow: auto;
  }
}

.img {
  width: 200px;
  height: 50px;
}

.menu {
  width: 15%;
}
.content {
  width: 85%;
}

.changeState {
  // position: absolute;
  width: calc(100vw - 240px) !important;
  overflow: auto;

}

.changeStateAppcontent {
  width: calc(98vw - 236px) !important;
}

.mat-icon-button {
  margin-right:10px;
}
.mat-button {
  color: black;
  padding: 0;
  line-height: 25px
}
.userInfo{
  color: white;
  font-size: 15px;
  line-height:19px;
}

.title {
  font-size: 30px;
}
