<div class="container">
    <div class="row" style="padding-bottom: 20px; ">

      <div>
        <!-- logo -->
        <h1>
          支払い方法情報更新
        </h1>

        <form class="login-form" role="form" #f="ngForm" (ngSubmit)="Submit()">
          <div class="customDiv">
            <span style="margin-right:50px;">ユーザID</span>
            <mat-form-field>
              <input matInput id="userId" name="userId" [(ngModel)]="info.primaryKey.userId" readonly>
            </mat-form-field>
          </div>
          <div class="customDiv">
            <span style="margin-right:61px;">支払No</span>
            <mat-form-field>
              <input matInput id="paymentNo" name="paymentNo" [(ngModel)]="info.primaryKey.paymentNo" readonly >
            </mat-form-field>
          </div>
          <div class="customDiv">
            <span style="margin-right:50px;">支払方法</span>
            <mat-form-field>
              <input matInput id="paymentMethod" name="paymentMethod" [(ngModel)]="info.paymentMethod" type="text" maxlength="10"
                 required>
            </mat-form-field>
          </div>
          <div class="customDiv">
            <span style="margin-right:51px;">ｶｰﾄﾞ番号</span>
            <mat-form-field>
              <input matInput id="cardNumber" name="cardNumber" [(ngModel)]="info.cardNumber" maxlength="20" required>
            </mat-form-field>
          </div>
          <div class="customDiv">
            <span style="margin-right:51px;">有効期限</span>
            <mat-form-field style="width: 20%">
              <mat-select [(value)]="moth">
                <mat-option *ngFor="let item of moths"  [(value)]="item">{{item}}</mat-option>
            </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 30%; margin-left: 5px;">
              <mat-select [(value)]="year">
                <mat-option *ngFor="let item of years"  [(value)]="item">{{item}}</mat-option>
            </mat-select>
            </mat-form-field>
          </div>
          <div class="customDiv">
            <span style="margin-right:37px;">ｶｰﾄﾞ名義人</span>
            <mat-form-field>
              <input matInput id="cardHolderName" name="cardHolderName" [(ngModel)]="info.cardHolderName" maxlength="50" required>
            </mat-form-field>
          </div>

          <p class="messageError" *ngIf="message">{{ message }}</p>
          <div style="padding-top:25px;">
            <button mat-button type="submit" class="btn btn-login" >更新</button>
            <button mat-button type="button" class="btn btn-cancel" (click)="Cancel()">キャンセル</button>
          </div>

        </form>

      </div>


    </div>
  </div>
