/* Form */
.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    /* max-width: 300px; */
    /* margin: 0 auto 100px; */
    /* padding: 30px; */
    //text-align: center;
  }
  .form a{
      font-size: 13px;
      margin-bottom: 5px;
      color: skyblue;
  }

  .form .thumbnail {
    margin-bottom: 0px;
    border: none;
    width: 500px;
    height: 150px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 290px;
  }

  .form .thumbnail img {
    display: block;
    width: 100%;
  }

  .btn-login {
    background-color: skyblue;
    margin-right: 10px;
  }

  .btn-login:active {
    background-color: skyblue;
  }

  .btn-cancel {
    background-color: grey;
  }
  .title{
    font-size: 12px;

  }
  .div-title{
    width: 20%;

  }
  .form input {
    outline: 0;
    background: #f2f2f2;
    width: 80%;
    border: 0;
    margin-bottom: 15px;
    margin-right: 0px;
    padding: 8px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
  }

  .form button {
    outline: 0;
    /* background: #EF3B3A; */
    width: 30%;
    border: 0;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: black;
    font-size: 12px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }

  .form .message a {
    color: #ef3b3a;
    text-decoration: none;
  }
  .form .success {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }

  .form .success {
    color: #2EFE2E !important;
    text-decoration: none;
  }

  .form .register-form {
    display: none;
  }

  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }

  .container:before,
  .container:after {
    content: '';
    display: block;
    clear: both;
  }

  .container .info {
    margin: 50px auto;
    text-align: center;
  }

  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    color: #1a1a1a;
    width: 500px;
  }

  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }

  .container .info span a {
    color: #000000;
    text-decoration: none;
  }

  .container .info span .fa {
    color: #ef3b3a;
  }

  .form button {
    text-decoration: none;
    color: white;
  }

  .form p {
    color: red !important;
  }
  .mat-form-field-infix {
    border-top: 0 !important;
  }
.customDiv {
  height:55px;
}
.messageError {
  color: red;
}

.link {
  background:none!important;
  color:inherit;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444;
  cursor: pointer;
  display: inherit;
}
